:root {
    --primary: #c9c84a;
    --light: #ffffff;
    --dark: #000000;
    --grayDark: #282828;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
a {
    color: var(--dark);
    text-decoration: none;
    text-align: center;
}

img {
    width: 100%;
    height: 184px;
    object-fit: cover;
    object-position: center;
} 

label {
     text-align: right;
     flex-basis: calc((100% - 65%) - .8rem);
}

input[type="text"], 
textarea {
    padding: .4rem 0 .4rem .8rem;
    font-size: 1rem;
    border: 1px solid #999;
    flex-basis: 65%;
}

textarea {
    overflow: auto;
    resize: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.wrapper {
    padding: 0 1rem;
}

/* HEADER SECTION*/
.header {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-bar{
    width: 100%;
    background-color: var(--dark);
}

.navegation a {
    display: block;
    padding: 1rem;
    color: var(--light);
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    transition: all .4s ease;
}

.navegation a:hover {
    background-color: #c9c84a;
    color: black;
}

@media screen and (min-width: 768px) {
    .navegation {
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
    }

    .navegation a {
        flex-grow: 1;
    }
}

/* GALLERY SECTION*/
.main-content {
    margin-bottom: 2rem;
}

.card-img {
    margin: .8rem 0;
}

/* FORM SECTION*/
.sidebar {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .main-content {
        display: flex;
    }

    .gallery__wrapper {
        display: flex;
        flex-wrap: wrap;
        gap: .5rem;
    }

    .card-img {
        margin: 0;
        flex: 0 0 45%;
    }

    .sidebar {
        flex: 0 0 22rem;
        padding: 0 1rem;
    }
}

@media screen and (min-width: 1024px) {
    .card-img {
        margin: 0;
        flex: 0 0 31%;
    }
}

.comment-form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border: 1px solid #CCC;
}

.field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 0;
}

.field.send {
    align-self: flex-end;
    gap: 0 .5rem;
}

/* .btn {
    padding: .8rem;
    display: block;
    border: none;
    text-align: center;
    transition: all .3s ease; 
} 

.btn:hover {
    cursor: pointer;
}

.btn-reset {
    color: var(--light);
    background-color: var(--dark);
}

.btn-reset:hover {
    color: var(--dark);
    background-color: var(--primary);
}

.btn-submit {
    color: var(--dark);
    background-color: var(--primary);
}

.btn-submit:hover {
    color: var(--light);
    background-color: var(--dark);
} */

/* COMMENT SECTION */
.comment {
    margin: 1rem 0 1rem 1rem;
}

/* FOOTER SECTION */
.footer {
    margin-top: 2rem;
    padding: .3rem 0;
    color: var(--light);
    background-color: var(--grayDark);
    text-align: center;
}
